In [4]:
%load_ext sql

In [27]:
%sql oracle+cx_oracle://alan:42@192.168.0.105:1521/?service_name=orcl

(cx_Oracle.DatabaseError) ORA-12543: TNS:конечный хост недостижим (Background on this error at: http://sqlalche.me/e/4xp6)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl'])

In [6]:
%%sql

select * from employee

 * oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl
0 rows affected.

[(1, 1, None, 'ARTEM', 25000),
 (2, 1, 1, 'IVAN', 27000),
 (3, 2, 1, 'PETR', 23000),
 (4, 2, 3, 'DMITRY', 22000),
 (5, 2, 4, 'VASILY', 28000),
 (6, 2, None, 'AFANASIY', 33000),
 (7, 3, None, 'IGOR', 13000),
 (8, 3, 7, 'KIRILL', 15000)]

<hr>

### Задание №1
#### Вывести список сотрудников, получающих заработную плату большую, чем у непосредственного руководителя.

In [7]:
%%sql
select EMP1.NAME from EMPLOYEE EMP1, EMPLOYEE EMP2 WHERE EMP1.CHEF_ID=EMP2.ID and EMP1.SALARY>EMP2.SALARY

 * oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl
0 rows affected.

[('IVAN',), ('VASILY',), ('KIRILL',)]

<hr>

### Задание №2
#### Вывести список сотрудников, получающих максимальную заработную плату в своем отделе.

In [11]:
%%sql

select employee.name,ms.max_salary
from employee, (select dep_id, max(salary) as max_salary from employee group by dep_id) ms
where employee.dep_id=ms.dep_id and employee.salary=ms.max_salary

 * oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl
0 rows affected.

[('IVAN', 27000), ('AFANASIY', 33000), ('KIRILL', 15000)]

<hr>

### Задание №3
#### Вывести список ID отделов, количество сотрудников которых не привышает 3 человек.

In [13]:
%%sql
select dep_id from employee group by dep_id having count(*)<=3

 * oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl
0 rows affected.

[(1,), (3,)]

<hr>

### Задание №4
#### Вывести список сотрудников, не имеющих назначенного руководителя, работающего в том же отделе.

In [14]:
%%sql

select A.name
from employee A, employee B
where A.chef_id is null
or
(
A.chef_id=B.id
and
A.dep_id!=B.dep_id
)
group by A.name

 * oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl
0 rows affected.

[('ARTEM',), ('AFANASIY',), ('PETR',), ('IGOR',)]

<hr>

### Задание №5
#### Найти список ID отделов с максимальной суммарной зарплатой сотрудников.

In [56]:
%%sql

with max_salary (dep_id, sum_s) as(
    select dep_id,sum(salary) as sum_s from employee group by dep_id order by sum_s desc FETCH FIRST 1 ROWS ONLY)
select employee.dep_id, sum(employee.salary) as summ from employee, max_salary group by employee.dep_id

 * oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl
0 rows affected.

[(1, 52000), (2, 106000), (3, 28000)]

In [55]:
%%sql

with max_salary (dep_id, sum_s) as(
    select dep_id,sum(salary) as sum_s from employee group by dep_id order by sum_s desc FETCH FIRST 1 ROWS ONLY)
select employee.dep_id, sum(employee.salary) as summ from employee, max_salary group by employee.dep_id where summ=max_salary.sum_s

 * oracle+cx_oracle://alan:***@192.168.0.105:1521/?service_name=orcl

DatabaseError: (cx_Oracle.DatabaseError) ORA-00933: неверное завершение SQL-предложения [SQL: 'with max_salary (dep_id, sum_s) as(\n    select dep_id,sum(salary) as sum_s from employee group by dep_id order by sum_s desc FETCH FIRST 1 ROWS ONLY)\nselect employee.dep_id, sum(employee.salary) as summ from employee, max_salary group by employee.dep_id where summ=max_salary.sum_s'] (Background on this error at: http://sqlalche.me/e/4xp6)

In [ ]:
%%sql

WITH regional_sales AS (
        SELECT region, SUM(amount) AS total_sales
        FROM orders
        GROUP BY region
     ), top_regions AS (
        SELECT region
        FROM regional_sales
        WHERE total_sales > (SELECT SUM(total_sales)/10 FROM regional_sales)
     )
SELECT region,
       product,
       SUM(quantity) AS product_units,
       SUM(amount) AS product_sales
FROM orders
WHERE region IN (SELECT region FROM top_regions)

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>